{{page-title "Index"}}

<div class="card" style="width: 45%">
  <img src={{@model.image.original}} class="card-img-top" alt="episode image">
  <div class="card-body">
    <h5 class="card-title">Episode Name: {{@model.name}}</h5>
    <p class="card-text">{{@model.summary}}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Season: {{@model.season}}</li>
    <li class="list-group-item">Episode: {{@model.number}}</li>
  </ul>
</div>

{{outlet}}


{{!--
{
  id: 5289,
  url: 'https://www.tvmaze.com/episodes/5289/the-simpsons-14x01-treehouse-of-horror-xiii',
  name: 'Treehouse of Horror XIII',
  season: 14,
  number: 1,
  type: 'regular',
  airdate: '2002-11-03',
  airtime: '20:00',
  airstamp: '2002-11-04T01:00:00+00:00',
  runtime: 30,
  image: {
    medium: 'https://static.tvmaze.com/uploads/images/medium_landscape/69/173038.jpg',
    original: 'https://static.tvmaze.com/uploads/images/original_untouched/69/173038.jpg'
  },
  summary: '<p>"Treehouse of Horror XIII" finds Homer cloned; Dr. Hibbert turning the family into half animals; and Springfield invaded by zombie cowboys.</p>',
  _links: { self: { href: 'https://api.tvmaze.com/episodes/5289' } }
} --}}
